.body_backgorund {
    background-image: url("https://media.istockphoto.com/photos/textured-rainbow-painted-background-picture-id801444286?k=20&m=801444286&s=612x612&w=0&h=CNfOWk0C5efBmGTci53dVLaKUw2inGAuEVB7kW3hZCk=");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: red; 
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
  }

  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }
  